# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Java / Maven
target/
*.jar
*.war
*.ear
*.class
.mvn/
!mvnw
!mvnw.cmd

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
